In [139]:
import numpy as np
import pandas as pd
import matplotlib as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px

datadir= 'data/'

In [140]:
infile = datadir + 'Disability_and_Health_Data_System__DHDS_.csv'

## dATA = DHDS

infile = pd.read_csv(infile)

# Overview:

The year 2020 highlted many issues in our nation, the main issue mental and physical health. The pandemic caused both fear and inlightment, fear of the virus and enlightment in health. The fact that our nations population health has been decreasing throughout the years

I would like to explore the CDC Disability and Health Data Systems DHDS and create visualizations regading mental, physical, social econmical, racial demograpfic within that year.

### DATA

"Disability and Health Data System (DHDS) is an online source of state-level data on adults with disabilities. Users can access information on six functional disability types: cognitive (serious difficulty concentrating, remembering or making decisions), hearing (serious difficulty hearing or deaf), mobility (serious difficulty walking or climbing stairs), vision (serious difficulty seeing), self-care (difficulty dressing or bathing) and independent living (difficulty doing errands alone)."

## Visualization Goal:
1. Health issues categorized
2. Data regarding age
3. Data regarding gender
4. Racial disparities  
5. Health Care
6. Insured Vs. Non-Insured

### Questions I wish to address

- What percentage of peoples over the age of 18 experienced mild, moderate, or severe symptoms of depression and anxiety?

- What percentage of adults have chronic illness compared to insured adults

- Are Children more likely to have taken prescription medication, and received counseling or therapy from a mental health professional.

- How does race correlate with individuals being insured or not?

COMMENT: I may have to redesign some questions based on data aquired

## Data Cleaning:

I want to make my data frame focus on certain rows.

In [141]:
# settings to display all columns
pd.set_option("display.max_columns", None)
# display the dataframe head
infile.head()

,Rowid,Year,LocationAbbr,LocationDesc,DataSource,Category,Indicator,Response,Data_Value_Unit,Data_Value_Type,Data_Value,Data_Value_Alt,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,Number,WeightedNumber,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,CategoryID,IndicatorID,Geolocation,LocationID,ResponseID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2
0,2016~31~JOB04~JOB~DISSTAT~NODIS~~~~,2016,NE,Nebraska,BRFSS,Demographics,Employment status among adults 18 years of age...,Other,%,Age-adjusted Prevalence,26.0,26.0,NaN,NaN,24.8,27.2,3339.0,273340.0,Disability Status,No Disability,NaN,NaN,DEMOG,JOB,NaN,31,JOB04,AGEADJPREV,DISSTAT,NODIS,NaN,NaN
1,2016~21~JOB04~JOB~DISSTAT~NODIS~~~~,2016,KY,Kentucky,BRFSS,Demographics,Employment status among adults 18 years of age...,Other,%,Age-adjusted Prevalence,30.5,30.5,NaN,NaN,28.8,32.2,2080.0,628016.0,Disability Status,No Disability,NaN,NaN,DEMOG,JOB,NaN,21,JOB04,AGEADJPREV,DISSTAT,NODIS,NaN,NaN
2,2016~66~JOB04~JOB~DISTYPE~VISDIS~~~~,2016,GU,Guam,BRFSS,Demographics,Employment status among adults 18 years of age...,Other,%,Age-adjusted Prevalence,29.5,29.5,NaN,NaN,21.0,39.6,33.0,2355.0,Disability Type,Vision Disability,NaN,NaN,DEMOG,JOB,NaN,66,JOB04,AGEADJPREV,DISTYPE,VISDIS,NaN,NaN
3,2016~41~JOB04~JOB~DISTYPE~VISDIS~~~~,2016,OR,Oregon,BRFSS,Demographics,Employment status among adults 18 years of age...,Other,%,Age-adjusted Prevalence,27.9,27.9,NaN,NaN,20.4,36.8,69.0,36768.0,Disability Type,Vision Disability,NaN,NaN,DEMOG,JOB,NaN,41,JOB04,AGEADJPREV,DISTYPE,VISDIS,NaN,NaN
4,2016~19~JOB04~JOB~DISTYPE~MOBDIS~~~~,2016,IA,Iowa,BRFSS,Demographics,Employment status among adults 18 years of age...,Other,%,Age-adjusted Prevalence,25.5,25.5,NaN,NaN,20.5,31.3,604.0,120768.0,Disability Type,Mobility Disability,NaN,NaN,DEMOG,JOB,NaN,19,JOB04,AGEADJPREV,DISTYPE,MOBDIS,NaN,NaN

- Here I will drop the columns I do not need

In [142]:
to_drop = ['Rowid', 'DataSource', 'Data_Value_Unit', 'Geolocation', 'DataValueTypeID', 'Category', 'Indicator', 'Data_Value_Type', 'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'StratificationCategory1', 'StratificationCategoryID2', 'Stratification2', 'Stratification2', 'StratificationID2', 'StratificationCategory2' ]
infile.drop(to_drop, inplace = True, axis = 1)
infile.head()

,Year,LocationAbbr,LocationDesc,Response,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit,Number,WeightedNumber,Stratification1,CategoryID,IndicatorID,LocationID,ResponseID,StratificationCategoryID1,StratificationID1
0,2016,NE,Nebraska,Other,26.0,26.0,24.8,27.2,3339.0,273340.0,No Disability,DEMOG,JOB,31,JOB04,DISSTAT,NODIS
1,2016,KY,Kentucky,Other,30.5,30.5,28.8,32.2,2080.0,628016.0,No Disability,DEMOG,JOB,21,JOB04,DISSTAT,NODIS
2,2016,GU,Guam,Other,29.5,29.5,21.0,39.6,33.0,2355.0,Vision Disability,DEMOG,JOB,66,JOB04,DISTYPE,VISDIS
3,2016,OR,Oregon,Other,27.9,27.9,20.4,36.8,69.0,36768.0,Vision Disability,DEMOG,JOB,41,JOB04,DISTYPE,VISDIS
4,2016,IA,Iowa,Other,25.5,25.5,20.5,31.3,604.0,120768.0,Mobility Disability,DEMOG,JOB,19,JOB04,DISTYPE,MOBDIS

Now I check to see if there are anymore to drop, there is they are: Category,Indicator,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote, StratificationCategory1

I will adjust to_drop above

In [143]:
infile.loc[7777]

Year                                         2016
LocationAbbr                                   AL
LocationDesc                              Alabama
Response                     Divorced / Separated
Data_Value                                   18.4
Data_Value_Alt                               18.4
Low_Confidence_Limit                         14.5
High_Confidence_Limit                        23.0
Number                                      135.0
WeightedNumber                            53583.0
Stratification1                 Vision Disability
CategoryID                                  DEMOG
IndicatorID                               MARRIED
LocationID                                      1
ResponseID                              MARRIED02
StratificationCategoryID1                 DISTYPE
StratificationID1                          VISDIS
Name: 7777, dtype: object

Now I will replace the existing indexs with the column using set_index

## RQ1. 
What percentage of peoples had depression? And what was the year with the highest amount of participants that experience depression?

In [144]:
display(infile.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438788 entries, 0 to 438787
Data columns (total 17 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Year                       438788 non-null  int64
 1   LocationAbbr               438788 non-null  object
 2   LocationDesc               438788 non-null  object
 3   Response                   438788 non-null  object
 4   Data_Value                 394415 non-null  float64
 5   Data_Value_Alt             394415 non-null  float64
 6   Low_Confidence_Limit       394415 non-null  float64
 7   High_Confidence_Limit      394415 non-null  float64
 8   Number                     394415 non-null  float64
 9   WeightedNumber             394415 non-null  float64
 10  Stratification1            438788 non-null  object
 11  CategoryID                 438788 non-null  object
 12  IndicatorID                438788 non-null  object
 13  LocationID                 438788 non-null  int64
 14  ResponseID                 438788 non-null  object
 15  StratificationCategoryID1  438788 non-null  object
 16  StratificationID1          438788 non-null  object
dtypes: float64(6), int64(2), object(9)
memory usage: 56.9+ MB

None

In [145]:
print('Nbr of records that have valid data since 2016: {0}'.format(len(infile)))

Nbr of records that have valid data since 2016: 438788

First thought is to creata a sub data frame with the Year & StratificationID1 from this point I realized that the data did not specify a category for depression, I will rewrite my quesion:

## "What is the percentage of particpiants with disabilities vs no disabillity?" 

then show disability type

In [146]:
infile.iloc[0:100, 14:]

   ResponseID StratificationCategoryID1 StratificationID1
0       JOB04                   DISSTAT             NODIS
1       JOB04                   DISSTAT             NODIS
2       JOB04                   DISTYPE            VISDIS
3       JOB04                   DISTYPE            VISDIS
4       JOB04                   DISTYPE            MOBDIS
..        ...                       ...               ...
95    YESNO01                   DISTYPE            MOBDIS
96    YESNO02                   DISSTAT            DISABL
97    YESNO02                   DISSTAT             NODIS
98    YESNO02                   DISTYPE           HEARDIS
99    YESNO01                   DISSTAT            DISABL

[100 rows x 3 columns]

- from here I will check how many did have a disability 
- creating a pandas dataframe for Year & StratificationID1
- insert index as personID incremental column
-

In [152]:
subDF1 = infile[["Year","StratificationCategoryID1","StratificationID1"]]
subDF1 = subDF1.reset_index()

Filter the data where StratificationID1 = NODIS

   - here I see that the years range from 2016-2019, I am thinking of spliting each column to to look like year vs the type of disabilities